<!-- File name: about.ejs -->
<!-- Student name: Lok Fung Leung-->
<!-- Student ID: 301267121-->
<!-- Date: 7-6-2023 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <style>
        
    body{
        text-align: center;
        background-color: lightyellow;
    }
    
    .container-fluid{
            word-spacing: 10px;
    }
    ul.navbar-max {
        list-style: none; /* Remove the bullet */
        display: inline; /* Display the list items inline */
    }
    ul.navbar-max li {
        display: inline-block; /* Make the list items display inline */
    }
  
    a:visited {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
        color: gray;
    }
    a:active {
        text-decoration: none;
    }
    #navbar{
        /* text-decoration: none; */
        color: black;
        font-size: large;
        margin-left: 20px;
    }
    .nav-link:hover{
        background-color: lightblue;
    }
    #main{
        text-align: left;
        margin-right: 430px;
    }
    </style>
</head>

<%- include('partials/header.ejs') %>

<%- include('partials/main_nav.ejs') %>

<body>
    
    
    <h1>Welcome to <%=title %></h1>
    <div id="main">
    <h2>Introduction:</h2>
    <h3>Name: Lok Fung Leung</h3>
    <h3>I am a student from centennial college and I am studying software engineering, so far I have learned C#, HTML, CSS, Javascript and etc. I hope I can get a job in related to IT in the future.</h3>
    </div>
</body>
</html>