<!-- File name: index.ejs -->
<!-- Student name: Lok Fung Leung-->
<!-- Student ID: 301267121-->
<!-- Date: 7-6-2023 -->
<%- include('partials/header.ejs') %>

<%- include('partials/main_nav.ejs') %>
<body>
    <!-- <img src="img/img 1.png" alt="logo"> -->
    <h1>Welcome to the <%=title %> page</h1>
    <!-- <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script> -->
    <h3>-You can click on the "About" to get my simple informations</h3>
    <h3>-You can click on the "Contact" to fill in a form or get my contact information</h3>
    <h3>-You can click on the "Projects" to know three of my projects</h3>
    <h3>You can click on the "Services" to know the services that I offer</h3>
</body>
</html>