<!-- File name: services.ejs -->
<!-- Student name: Lok Fung Leung-->
<!-- Student ID: 301267121-->
<!-- Date: 7-6-2023 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <style>
    #general{
        width: 100px;
        height:100px;
        position: relative;
    }
    #web{
        width: 110px;
        height:110px;
        position: relative;
    }
    #mobile{
        width: 110px;
        height:110px;
        position: relative;
    }
    #navbar{
        /* text-decoration: none; */
        color: black;
        font-size: large;
        margin-left: 20px;
    }
    .nav-link:hover{
        background-color: lightblue;
    }
    body{
        background-color: lightyellow;
        text-align: center;
    }
    #main{
        text-align: left;
    }
    </style>
</head>

<%- include('partials/header.ejs') %>

<%- include('partials/main_nav.ejs') %>

<body>
    <h1>Welcome to the <%=title %> page</h1>
    <div id="main">
    <h2>Services list:</h2>
    <h3><img src="https://icon-library.com/images/programming-icon-png/programming-icon-png-22.jpg" alt="general programming" id="general">   1.general programming </h3>
    <h3><img src="https://cdn-icons-png.flaticon.com/512/3476/3476582.png" alt="web development" id="web"> 2.web development</h3>
    <h3><img src="https://cdn-icons-png.flaticon.com/512/1875/1875043.png" alt="mobile apps" id="mobile"> 3.mobile apps</h3>
    </div>
</body>
</html>